# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [26]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.groupby('neighbourhood_group').count()
# 5 groups and Manhattan shows up most

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [23]:
# Are private rooms the most popular in manhattan?
air_bnb.groupby(['neighbourhood_group', 'room_type']).count()
# Entire Homes are more popular in Manhatten
# Bronx 60%, Brooklyn 50%, Man 36%... and more popular in other areas

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [11]:
# Which hosts are the busiest and based on their reviews?
#air_bnb.groupby('host_id').sort_values('reviews_per_month', ascending= False)
hosts = air_bnb.groupby(['host_id', 'host_name']).sum().sort_values('reviews_per_month', ascending=False)
hosts.head(10)
# Sonder number 1 with 1281 per month

,,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,host_name,,,,,,,,,
219517861,Sonder (NYC),10885561678,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
244361589,Row NYC,294108503,366.82627,-665.89623,1845,9,305,111.72,81,2633
232251881,Lakshmee,254974885,325.33942,-590.27250,403,8,482,80.63,64,1369
26432133,Danielle,74542317,203.81845,-369.35591,236,5,2017,68.02,25,1443
137274917,David,345517389,489.12293,-887.88925,1320,12,607,62.89,144,2827
224414117,Gabriel,921229890,1222.67553,-2219.92301,6394,30,403,59.10,900,8679
156948703,Asad,135792224,244.61926,-443.23651,588,6,1052,56.44,36,2038
344035,Brooklyn& Breakfast -Len-,155403744,528.82140,-961.61568,970,13,2205,56.00,169,3723
156684502,Nalicia,66477294,121.98566,-221.30880,180,3,1046,54.38,9,77
37312959,Maya,51232186,203.85153,-369.38202,213,5,2273,53.53,25,824

In [20]:
#Which neighorhood group has the highest average price?
air_bnb.groupby('neighbourhood_group').mean().sort_values('price', ascending=False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,1.877494e+07,6.783062e+07,40.765062,-73.974607,196.875814,8.579151,20.985596,1.272131,12.791330,111.979410
Brooklyn,1.825685e+07,5.671526e+07,40.685036,-73.951190,124.383207,6.056556,24.202845,1.283212,2.284371,100.232292
Staten Island,2.159747e+07,9.853360e+07,40.610225,-74.105805,114.812332,4.831099,30.941019,1.872580,2.319035,199.678284
Queens,2.175500e+07,9.615680e+07,40.731531,-73.872775,99.517649,5.181433,27.700318,1.941200,4.060184,144.451818
Bronx,2.273492e+07,1.056099e+08,40.848305,-73.884552,87.496792,4.560953,26.004583,1.837831,2.233731,165.758937

In [17]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby('neighbourhood_group').sum().sort_values('price', ascending=False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,406683958152,1469279004836,883012.01680,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586
Brooklyn,367035792483,1140203577483,817931.96821,-1.486715e+06,2500600,121761,486574,21104.98,45925,2015070
Queens,123263814259,544824426112,230784.85597,-4.185631e+05,563867,29358,156950,8879.05,23005,818464
Bronx,24803796188,115220380205,44565.50071,-8.060805e+04,95459,4976,28371,1609.94,2437,180843
Staten Island,8055857451,36753031930,15147.61383,-2.764147e+04,42825,1802,11541,587.99,865,74480

In [18]:
#Which top 5 hosts have the highest total price?
hosts = air_bnb.groupby(['host_id', 'host_name', 'price']).sum().sort_values('reviews_per_month', ascending=False)
hosts.head(10)

,,,id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,host_name,price,,,,,,,,
244361589,Row NYC,100,130714889,163.03429,-295.95363,4,201,76.18,36,1182
26432133,Danielle,48,51672873,122.29082,-221.61333,3,1363,46.61,15,1016
16677326,Alex And Zeena,85,170606621,488.98427,-887.95071,12,1355,39.49,144,4193
219517861,Sonder (NYC),229,557247319,692.01706,-1258.18179,61,105,34.86,5559,5665
156684502,Nalicia,50,44926992,81.32456,-147.54050,2,643,34.63,6,51
187822288,Zahir,55,133542938,163.08168,-295.49055,4,115,34.16,20,654
244559229,Stewart Hotel,100,294087418,366.74061,-665.92596,9,82,34.04,81,2711
37312959,Maya,45,28930153,122.31138,-221.62811,3,1319,30.54,15,500
19536596,Andrew,48,134084107,203.38413,-369.53724,5,361,30.03,25,1160
137274917,David,110,172258458,244.56226,-443.94382,6,290,29.96,72,1463

In [19]:
# Who currently has no (zero) availability with a review count of 100 or more?

air_bnb[(air_bnb['number_of_reviews']>=100)&(air_bnb['availability_365']==0)].groupby('host_name').sum()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
AJ And Freddy,728409,3778274,40.70061,-73.95520,65,2,164,2.07,2,0
Abraham,9544914,22423049,40.67157,-73.94117,36,2,100,2.28,1,0
Adrienne,258740,1360043,40.81872,-73.94567,58,1,143,2.83,1,0
Airamis,15307603,92195100,40.85236,-73.86632,35,1,114,3.48,1,0
Albert,24267706,21074914,40.68234,-73.91318,49,1,102,6.73,3,0
...,...,...,...,...,...,...,...,...,...,...
Véronique,2339096,11947308,40.71590,-73.99059,70,1,196,3.03,1,0
Wanda,166172,792159,40.70283,-73.92131,60,3,480,6.70,1,0
William,5848141,28171102,81.47120,-147.89233,225,6,266,4.49,2,0
Yuval,19069305,10402380,40.67245,-73.96358,50,1,144,5.65,2,0
正川,6269646,25915648,40.75532,-73.82060,41,2,151,3.09,2,0

In [42]:
# What host has the highest total of prices and where are they located?
total_rice = air_bnb.groupby('host_name').sum().sort_values('price', ascending = False)
total_rice.head(3)

In [19]:
# When did Danielle from Queens last receive a review?
air_bnb[air_bnb['host_name'] == "Danielle"].sort_values('last_review', ascending =False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
5717,4163781,Sun Soaked & Cozy PR Williamsburg,1401835,Danielle,Brooklyn,Williamsburg,40.71007,-73.95653,Private room,99,3,19,2019-07-06,0.33,3,354
29546,22686497,"Backyard BK! Live like a NY’er in modern, new ...",24124835,Danielle,Brooklyn,Bedford-Stuyvesant,40.68860,-73.92937,Entire home/apt,130,4,53,2019-07-06,3.66,2,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0
34760,27552582,Studio in the Heart of East Village,30680112,Danielle,Manhattan,East Village,40.72951,-73.98576,Entire home/apt,120,2,0,NaN,NaN,1,39
37221,29570887,"LARGE ROOM ‘N CLINTON HILL, Brooklyn, w / LAUN...",24124835,Danielle,Brooklyn,Bedford-Stuyvesant,40.68652,-73.95412,Private room,60,25,0,NaN,NaN,2,100
43825,33901005,"Sunny, Spacious, Cozy, Charming Brooklyn Abode",192752,Danielle,Brooklyn,Park Slope,40.67599,-73.97664,Entire home/apt,145,5,0,NaN,NaN,1,38
48533,36310353,Staten Island Resort minutes from ferry! Amazi...,28586423,Danielle,Staten Island,Stapleton,40.62878,-74.07301,Entire home/apt,450,5,0,NaN,NaN,1,88

## Further Questions

1. Which host has the most listings?

In [33]:
air_bnb.groupby('host_name').count().sort_values('calculated_host_listings_count', ascending= False).head()

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Michael,417,417,417,417,417,417,417,417,417,417,417,335,335,417,417
David,403,403,403,403,403,403,403,403,403,403,403,309,309,403,403
Sonder (NYC),327,327,327,327,327,327,327,327,327,327,327,207,207,327,327
John,294,294,294,294,294,294,294,294,294,294,294,250,250,294,294
Alex,279,279,279,279,279,279,279,279,279,279,279,229,229,279,279

2. How many listings have completely open availability?

In [36]:
air_bnb[air_bnb['availability_365'] == 365]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaN,NaN,1,365
38,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365
97,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.82803,-73.94731,Private room,89,1,1,2018-10-09,0.11,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48744,36415840,A BEAUTIFUL SPACE IN HEART OF WILLIAMSBURG,223715460,Simon And Julian,Brooklyn,Williamsburg,40.71091,-73.96560,Entire home/apt,499,30,0,NaN,NaN,1,365
48844,36453952,West Village Studio on quiet cobblestone street,115491896,Will,Manhattan,West Village,40.73620,-74.00827,Entire home/apt,205,1,0,NaN,NaN,1,365
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365

3. What room_types have the highest review numbers?

In [41]:
air_bnb.groupby('room_type').sum().sort_values('number_of_reviews', ascending= False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,
Entire home/apt,468495600287,1569156532318,1.034874e+06,-1.879267e+06,5381480,216152,580403,26565.34,271834,2843783
Private room,434663231749,1618079882718,9.093203e+05,-1.650850e+06,2004450,120067,538346,25529.62,72062,2482739
Shared room,26684386497,119044005530,4.724740e+04,-8.577428e+04,81348,7511,19256,1245.08,5409,187921

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --